*.dll
build/
bin/
include/
lib/
*.o
*.d
*.exe
log.txt
*.code-workspace
.vscode/
.VSCodeCounter/
*.hpp.gch
src/sfmlpch.hpp.gch
.gdbinit

.bdep/

# Local default options files.
#
.build2/local/

# Compiler/linker output.
#
*.d
*.t
*.i
*.ii
*.o
*.obj
*.so
*.dll
*.a
*.lib
*.exp
*.pdb
*.ilk
*.exe
*.exe.dlls/
*.exe.manifest
*.pc
